name: bzd

services:
  pg:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - 25432:5432

  nats:
    image: nats:2-alpine
    command:
      - "--jetstream"
      - "--store_dir=/data"
    volumes:
      - nats-data:/data
    ports:
      - 24222:4222

volumes:
  pg-data:
  nats-data:
